<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>hello</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top justify-content-between" id="menu">
        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto ">
                    <!-- items on the left -->
                </ul>
                
                <% if(!user){ %>
                    <a class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" href="/login">Sign In</a>
                    <a class="btn btn-outline-info my-2 my-sm-0" href="/signup">Sign Up</a>
                <% }else{ %>
                    <a class="nav-link" href=<%= "/user/"+user._id %> > <%= user.username %> </a>
                    <a class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2" href="/poll/new">New Poll</a>
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Logout</a>
                <% } %>


            </div>
        </div>
    </nav>