<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>hello</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse bg-inverse fixed-top justify-content-between" id="menu">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>

            <div class="navbar-header pull-right form-inline">
                <% if(!user){ %>
                    <a class="button button-plain button-border button-square " href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                <% }else{ %>
                    <a class="button button-action button-border button-square mr-2" href=<%= "/user/"+user._id %> ><i class="fa fa-user" aria-hidden="true"></i></a>
                    <a class="button button-primary button-border button-square  mr-2" href="/poll/new"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a class="button button-caution button-border button-square " href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                <% } %>


            </div>
        </div>
    </nav>
    <div id="placeholder"></div>
    <% if(error!=""){ %>
        <div class="alert alert-danger text-center" role="alert"><%= error %> </div>
    <% } %>
    <% if(success!=""){ %>
        <div class="alert alert-success text-center" role="alert"><%= success %> </div>
    <% } %>