<%- include header.ejs %>
    <div class="jumbotron" id="jumb">
        <div class="container">
            <h1 class="display-3">FCC voting app</h1>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-block">
                <% for(var i = 0; i < polls.length; i++){ %>
                    <a href=<%= "/poll/" + polls[i]._id %> class="button button-block button-action button-large list-custom-button">
                        <%= polls[i].title %>
                    </a>
                    <% } %>

            </div>
        </div>
    </div>
<%- include footer.ejs %>