<%- include ./header %>
    <div class="container">
        <div class="card">
            <div class="card-block w-md-50 mx-auto  ">
                <form class="form-signin" method="POST" action="/login/uap">
                    <h2 class="form-signin-heading">Log in</h2>
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="username" name="username" id="inputUsername" class="form-control mb-2" placeholder="Username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>
                    <div class="d-flex justify-content-start">
                        <a class="button button-square" href="/login/twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <button class="button custom-submit-button ml-auto" type="submit">Sign In</button>
                    </div>
                </form>

                <hr>

                <div class="d-flex justify-content-center">
                    <a class="button custom-submit-button" href="/signup">Don't have account?</a>
                </div>

            </div>
        </div>
    </div>
<%- include ./footer %>