<%- include ../header.ejs %>
    <div class="container">
        <div class="card">
            <div class="card-block w-50 mx-auto">
                <form method="POST" action="/poll" id="newPollForm">
                    <h2 class="text-center">New Poll</h2>

                    <hr>

                    <div class="d-flex justify-content-end">
                        <button id="addOptionBtn" class="btn custom-submit-button btn-success mr-2" type="button">Add option</button>
                        <button id="removeOptionBtn" class="btn custom-submit-button btn-danger" type="button" disabled>Delete option</button>
                    </div>
                   
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input id="title" class="form-control" name="title" placeholder="Title" required autofocus>
                    </div>

                    <div class="form-group" id="newPollOptions">
                        <label for="option1">Options:</label>
                        <div class="new-poll-option d-flex mb-2">
                            <div class="new-poll-option-colorBox-outer mr-1">
                                <div class="new-poll-option-colorBox-inner" data-color-number=0></div>
                            </div>
                            <input class="form-control" placeholder="Option 1" name="option1">
                        </div>
                        <div class="new-poll-option d-flex mb-2">
                            <div class="new-poll-option-colorBox-outer mr-1"  >
                                <div class="new-poll-option-colorBox-inner" data-color-number=1></div>
                            </div>
                            <input class="form-control" placeholder="Option 2" name="option2">
                        </div>
                    </div>

                    <button class="button custom-submit-button mr-auto" type="submit">Save</button>
                    
                </form>
            </div>
        </div>
    </div>
<%- include ../footer.ejs %>