$BG_Color: #eee;
$NAV_H: 54px;
body {
    background: $BG_Color;
}

@mixin absoluteWidth($width) {
    min-width: $width;
    max-width: $width;
}

@mixin absoluteHeight($height) {
    min-height: $height;
    max-height: $height;
}

@mixin absoluteSize($width, $height) {
    @include absoluteWidth($width);
    @include absoluteHeight($height);
}

#menu {
    max-height: $NAV_H;
}

#placeholder {
    min-height: $NAV_H;
    max-height: $NAV_H;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 767px) {
    #menu {
        max-height: 100%;
    }
    #menu>.container {
        width: 320px;
    }
}

@media (max-width: 320px) {
    #menu {
        max-height: 100%;
    }
    #menu>.container {
        width: 200px;
    }
}

#jumb {
    background: white;
    margin-bottom: 0px;
}

.list-custom-button {
    text-align: left;
}

.list-custom-button-spacing {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

#myChart {
    max-height: 100%;
    max-width: 100%;
}

.profile-poll-button-group {
    display: flex;
}

.alert {
    margin-bottom: 0px;
}

.card {
    margin-top: 30px;
}

.new-poll-option-colorBox-outer {
    @include absoluteSize(38px, 38px);
    border: 1px solid rgba(50, 50, 50, 0.5);
    border-radius: 4px;
    background: white;
    margin-right: 2px;
    cursor: pointer;
}

.new-poll-option-colorBox-inner {
    @include absoluteSize(28px, 28px);
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 4px;
    background: rgb(120, 60, 60);
    font-size: 0;
}

.new-poll-option {
    margin-bottom: 5px;
}

.color-input-box {
    transform: translateX(-50%);
    margin-top: -10px;
    border: 1px solid rgba(50, 50, 50, 0.5);
    border-radius: 4px;
    width: auto;
    background: white;
    position: fixed;
    z-index: 1031;
    left: 50%;
    top: 50%;
    padding: 5px;
    &>:first-child {
        margin-bottom: 5px;
    }
}