$BG_Color: #eee;
$NAV_H: 54px;
body {
    background: $BG_Color;
}

#menu {
    max-height: $NAV_H;
}

#placeholder {
    min-height: $NAV_H;
    max-height: $NAV_H;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 767px) {
    #menu {
        max-height: 100%;
    }
    #menu>.container {
        width: 320px;
    }
}

@media (max-width: 320px) {
    #menu {
        max-height: 100%;
    }
    #menu>.container {
        width: 200px;
    }
}

#jumb {
    background: white;
    margin-bottom: 0px;
}

.list-custom-button {
    text-align: left;
}

.list-custom-button-spacing {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

#myChart {
    max-height: 100%;
    max-width: 100%;
}

.profile-poll-button-group {
    display: flex;
}

.alert {
    margin-bottom: 0px;
}

.card {
    margin-top: 30px;
}